{% extends "base.html" %}
{% block content %}
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb m-b-0">
        <li><a href="/">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Avatar</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row row-equal">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> 更换头像
                        </div>
                        <div class="card-block">
                            <form action="" method=post enctype=multipart/form-data>
                                {{ form.csrf_token }}
                                <div class="input-group m-b-1">
                                    <input id="id" name="username" placeholder="username" type="text" class="form-control" value="{{ current_user.username }}" style="display: none">
                                    <input type=file name=file><br/>
                                </div>
                                <div class="row">
                                   <div class="col-xs-6">
                                       <button type="submit" class="btn btn-danger btn-ok">提交</button>
                                       <a href="/index"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></a>
                                   </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</main>


{% endblock %}
