<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Handcraft">
        <meta name="author" content="Lukasz Holeczek">
        <meta name="keyword" content="Handcraft">
        <title>Handcraft</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    
    <body class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center-block pull-xs-none">
                    <div class="card vamiddle">
                        <div class="card-block p-a-2">
                            <h1 style="text-align:center">关于Handcraft</h1>
                            <p class="text-muted" style="text-align:right">一个flask项目 ---不成熟的</p>
                        </div>
                        <div class="card-block p-a-2">
                            <h5>发展方向</h5>
                            <p></p>
                            <p style="text-indent:2em;">CMDB、用户管理、Cobbler装机平台、Zabbix管理平台、机柜展示、故障申报、发布平台、批量管理平台</p>
                            
                                
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/tether.min.js"></script>
        <script src="/static/js/libs/bootstrap.min.js"></script>
        
    </body>
</html>
